<footer class="footer content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright text-center text-xl-left text-muted" style="padding-left: 0.5em;">
          <small>
              &copy;{{ test | date: "yyyy" }}
          </small>
          <a href="https://www.darlosvalley.org" class="font-weight-bold ml-1"
              target="_blank"><small>D'ARLOS VALLEY</small></a>
        </div>
      </div>
    </div>
  </div>
</footer>
